<!-- USP conatiner -->
  <!-- usp -->
  <!-- List fo feature -->
    <!-- feature -->
    <div class="usp-container">
      <span class="heading">The <span class="blue-text">Benefits</span> of using Filed</span>
      <div class="feature-list">
        <div class="feature">
          <img src="../../../assets/svg/Icon awesome-check.svg" alt="">
          <span>Ability to scale using Dexter, our AI-powered marketing genius.</span>
        </div>
        <div class="feature">
          <img src="../../../assets/svg/Icon awesome-check.svg" alt="">
          <span>Client Success Manager who will optimize your Facebook ad campaigns and focus on driving the best possible results for you.</span>
        </div>
        <div class="feature">
          <img src="../../../assets/svg/Icon awesome-check.svg" alt="">
          <span>This is a limited time offer only.</span>
        </div>
      </div>
    </div>