@import '../../theme/theme.scss';

.usp-container{
    padding-left: 174px;
    display: flex;
    padding-right: 101px;
    padding-top: 110px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: space-between;
    .heading{
        font-size: $unnamed-font-size-34;
        font-weight: $unnamed-font-weight-medium;
        font-style: $unnamed-font-style-normal;
        line-height: $unnamed-line-height-43 ;
        font-family: $unnamed-font-family-roboto;
    }
    .blue-text{
        color: #38CCF5;
    }
    .feature-list{
        width: 42%;
        .feature{
            margin-bottom: 51px;
            display: flex;
            img{
                display: inline-block;
            }
            span{
                display: inline-block;
                margin-left: 40px;
                font-size: $unnamed-font-size-20;
                line-height: $unnamed-line-height-28 ;
            }
        }
    }
}