<!-- Copyrights container -->
  <!-- Menu container -->
        <!-- menu -->
        <!-- icons -->

<div class="footer-container ">
  <div class="copyright-container">
    <span class="roboto--h6">Copyright © 2020. All Rights Reserved.</span>
  </div>
  <div class="menu-container">
    <div class="menu-list">
      <span class="nav roboto--h6">Home</span>
      <span class="nav roboto--h6">Features</span>
      <span class="nav roboto--h6">Terms</span>
      <span class="nav roboto--h6">Privacy</span>
      <span class="nav roboto--h6">Contact us</span>
    </div>
    <div class="icon-list">
      <img src="../../../assets/svg/facebook-icon.svg" alt="">
      <img src="../../../assets/svg/instagram-icon.svg" alt="">
      <img src="../../../assets/svg/twitter-icon.svg" alt="">
    </div>
  </div>
</div>