<div class="container-hero">
  <img  class="logo" src="../../../assets/svg/filed-logo-01.png" alt="">

<div class="hero-container">
<div class="meta-container">
<span class="heading">Book a demo today and get two weeks for <span class="color-primary">free</span>. Why?</span>
<span class="subheading">Because Our AI-Powered Software Will Exceed Your Marketing Goals.</span>
<div class="abstract-container">
  <div class="border-circles">
    <img src="../../../assets/svg/bluedots.svg" alt="">
  </div>
  <img src="../../../assets/svg/Artboard 1.png" alt="">

  <div class="bg">
    <img src="../../../assets/svg/Ellipse 9.svg" alt="">
    <img src="../../../assets/svg/Ellipse 10.svg" alt="">
  
  <img src="../../../assets/svg/Ellipse 11.svg" alt="">
  
    <img src="../../../assets/svg/Ellipse 8.svg" alt="">
  
  </div>
</div>

</div>
<div class="form-container">

</div>
</div>

</div>