<!-- recommendation contaienr -->
<!-- recommend -->
  <!-- quoterow -->
  <!-- quote -->
  <!-- profile-container -->
      <!-- icon -->
      <!-- meta container -->
        <!--name -->
        <!--contect -->
<div class="recommendation-container">
  <div class="recommendation">
    <div class="quote-row">
      <img src="../../../assets/svg/Icon material-format-quote.svg" alt="">
      <span>"It surpassed our expectations"</span>
    </div>
    <div class="quote">
      <span>"Filed has completely surpassed our expectations. I will refer everyone I know. Filed is worth much more than I paid."</span>
    </div>
    <div class="profile-container">
      <div class="icon-container">
        <img src="../../../assets/svg/user1.jpg" alt="">
      </div>
      <div class="meta-container">
        <span class="name">Tania Y.</span>
        <span class="company">Flexi Content @Hello</span>
      </div>
    </div>
  </div>
  <div class="recommendation">
    <div class="quote-row">
      <img src="../../../assets/svg/Icon material-format-quote.svg" alt="">
      <span>"The essential marketing tool"</span>
    </div>
    <div class="quote">
      <span>“Filed is the most valuable business resource we have EVER purchased. I was amazed at the quality of filed. We were treated like royalty.”</span>
    </div>
    <div class="profile-container">
      <div class="icon-container">
        <img src="../../../assets/svg/user2.jpg" alt="">

      </div> 
      <div class="meta-container">
        <span class="name">Jack Francis</span>
        <span class="company">Manager @ Accidents Direct</span>
      </div>
    </div>
  </div>
  <div class="recommendation">
    <div class="quote-row">
      <img src="../../../assets/svg/Icon material-format-quote.svg" alt="">
      <span class="company">“Your company is truly upstanding”</span>
    </div>
    <div class="quote">
      <span>“The service was excellent. After using filed my business skyrocketed! It really saves me time and effort.”</span>
    </div>
    <div class="profile-container">
      <div class="icon-container">
        <img src="../../../assets/svg/user3.jpg" alt="">

      </div> 
      <div class="meta-container">
        <span class="name">Dawna N.</span>
        <span class="company">Editor @ Museum of Typography</span>
      </div>
    </div>
  </div>
</div>