.banner-container{
    background: transparent url('../../../assets/svg/Group-392.svg') 0% 0% no-repeat padding-box;
    height: 531px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color:#38CCF5;
}